.pageData {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  min-width: 0;
  min-height: calc(100vh - 100px);
}

.footer {
  background: #e9ecef;
  line-height: 46px;
}

.btn-sm {
  font-size: 10px;
  line-height: 12px;
}

.list-group-item {
  padding: 5px 15px;
}

.jumbotron {
  padding: 10px;
  .lead {
    margin-bottom: 0;
  }
}
